.otp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.otp-inputs{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    margin-bottom: 1rem;
}

.otp-inputs input{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
}

input[type="submit"]{
    padding: 10px 20px;
    font-size: 16px;
    width: 14rem;
}