.register-form{
    height: 75vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form h2{
    text-align: center;
}

.register-form p{
    text-align: center;
    font-size: 0.9rem;
    color: grey;
    position: relative;
    bottom: 1rem;
}
form label{
    width: 80%;
    height:auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-label{
    padding-bottom: 0.1rem;
}

form{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.register-form-header{
    margin-bottom: 2rem;
}

input[type="submit"]{
    width: 100%;
    border-radius: 15rem;
    cursor: pointer;
    font-size: 0.9rem;
    height: 2.5rem;
    background-color: #29c978;
    color: white;
    border: 1px solid #29c978;
    font-weight: bold;
    margin-top: 1rem;
}

input[type="submit"]:hover{
    background-color: #21a86b;
}

input[type="email"], input[type="password"]{
    border-radius: 6rem;
    height: 1.3rem;
}